.h1{
text-color:white;
animation-name:catchy_title;
animation-duration:4s
}
@keyframes catchy_title{
0%{text-color:orange;}
25%{text-color:dodgerblue;}
50%{text-color:green;}
75%{text-color:whitesmoke}
100%{text-color orange}
}
